# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/
env/

# IDE
.vscode/

# Power BI temporary/lock files
*.pbit
~$*.pbix

# OS files
.DS_Store
Thumbs.db

# Spark temporary files
spark-warehouse/
metastore_db/
derby.log